{
  "useTabs": false,
  "tabWidth": 4,
  "printWidth": 80,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "semi": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false
}